extends layout
block content

  h4 Punch Details
  p Punch ID: #{id}
  p User PIN: #{pin}
  p Date: #{start.toDateString()}
  p Start Time: #{start.toTimeString()}
  if active
    p Shift Currently Open
  else 
    p End Time: #{end.toTimeString()}
    p Total Hours: #{hours}
